@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  @apply flex flex-col bg-mono-950 dark:text-mono-50;
  text-rendering: geometricPrecision;
  overflow-wrap: break-word;
}

::selection {
  @apply bg-mono-50 text-mono-950;
}

h1,
h2,
h3 {
  @apply text-primary tracking-tight leading-snug;
}

p {
  @apply my-4 text-secondary leading-tight;
}

blockquote {
  @apply px-4 pl-4 italic font-light text-mono-300 leading-relaxed border-l-2 border-dashed border-mono-800;
}

@layer utilities {
  .text-primary {
    @apply text-mono-50;
  }

  .text-secondary {
    @apply text-mono-200;
  }

  .text-tertiary {
    @apply text-mono-400;
  }

  .ease {
    @apply transition-all duration-300 ease-in-out;
  }
}