@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  @apply flex flex-col bg-mono-950 text-mono-50;
  text-rendering: geometricPrecision;
  overflow-wrap: break-word;
}

::selection {
  @apply bg-mono-50 text-mono-950;
}

.animate-in {
  animation-delay: calc(var(--index) * 150ms);
}